@model List<KidKinder.Entities.Parent>
@{
    ViewBag.Title = "ParentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Veli Listemiz</h5>
                        <span>Velilerimiz ile ilgili eklme/silme/güncelleme işlemlerini yapabileceğiniz alandır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Telefon Numarası</th>
                                        <th>Adres</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ParentId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Address</td>
                                            <td><a href="/AdminParent/DeleteParent/@item.ParentId" class="btn btn-danger" style="border-radius: 20px;">   Sil  </a></td>
                                            <td><a href="/AdminParent/UpdateParent/@item.ParentId" class="btn btn-success" style="border-radius: 20px;">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminParent/CreateParent/" class="btn btn-primary">Yeni Veli Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

