@model KidKinder.Entities.Parent
@{
    ViewBag.Title = "UpdateParent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Veli Bilgileri</h5>
                <span>Veliler ile ilgili ekleme, silme, güncelle gibi işlemleri aşağıdan gerçekleştirebilirsiniz.</span>
            </div>
            <div class="card-block">
                <form method="post">
                    <input type="hidden" value="@Model.ParentId" name="ParentId" />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Veli Adı Soyadı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="NameSurname" value="@Model.NameSurname" placeholder="Ad Soyad">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telefon Numarası</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Phone" value="@Model.Phone" placeholder="Telefon Numarası">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Adres</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Address" value="@Model.Address" placeholder="Adres">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-outline-primary">Veli Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
