@model List<KidKinder.Entities.Testimonial>
<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Referanslar</span>
            </p>
            <h1 class="mb-4">Bizim İçin Ne Dediler?</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            @foreach (var item in Model)
            {
                <div class="testimonial-item px-3">
                    <div class="bg-light shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                        @item.Comment
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle"
                             src="@item.ImageUrl"
                             style="width: 70px; height: 70px"
                             alt="Image" />
                        <div class="pl-3">
                            <h5>@item.NameSurname</h5>
                            <i>@item.Title</i>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

