@model List<KidKinder.Entities.Feature>

@foreach (var item in Model)
{
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
        <div class="row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left">
                <h4 class="text-white mb-4 mt-5 mt-lg-0">@item.Title</h4>
                <h1 class="display-3 font-weight-bold text-white">
                    @item.Header
                </h1>
                <p class="text-white mb-4">
                    @item.Desciription
                </p>
                <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <img class="img-fluid mt-5" src="@item.ImageUrl" alt="" />
            </div>
        </div>
    </div>
}
