<a href="#" class="btn btn-primary p-3 back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/kidkinder-1.0.0/lib/easing/easing.min.js"></script>
<script src="~/Templates/kidkinder-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Templates/kidkinder-1.0.0/lib/isotope/isotope.pkgd.min.js"></script>
<script src="~/Templates/kidkinder-1.0.0/lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/Templates/kidkinder-1.0.0/mail/jqBootstrapValidation.min.js"></script>
<script src="~/Templates/kidkinder-1.0.0/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/Templates/kidkinder-1.0.0/js/main.js"></script>

