<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Galerimiz</span>
            </p>
            <h1 class="mb-4">Miniklerimizden Mutlu Anlar</h1>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                    <li class="btn btn-outline-primary m-1 active" data-filter="*">
                        Hepsi
                    </li>
                    <li class="btn btn-outline-primary m-1" data-filter=".first">
                        Oyun
                    </li>
                    <li class="btn btn-outline-primary m-1" data-filter=".second">
                        Resim
                    </li>
                    <li class="btn btn-outline-primary m-1" data-filter=".third">
                        Okuma 
                    </li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="~/Templates/kidkinder-1.0.0/img/portfolio-1.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-1.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="~/Templates/kidkinder-1.0.0/img/portfolio-2.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-2.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="~/Templates/kidkinder-1.0.0/img/portfolio-3.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-3.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="~/Templates/kidkinder-1.0.0/img/portfolio-4.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-4.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="/Templates/kidkinder-1.0.0/img/portfolio-5.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-5.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
                <div class="position-relative overflow-hidden mb-2">
                    <img class="img-fluid w-100" src="/Templates/kidkinder-1.0.0/img/portfolio-6.jpg" alt="" />
                    <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                        <a href="img/portfolio-6.jpg" data-lightbox="portfolio">
                            <i class="fa fa-plus text-white" style="font-size: 60px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
