<li class="user-profile header-notification">
    <a href="#!" class="waves-effect waves-light">
        <img src="~/Templates/material_able-main/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
        <span>Admin</span>
        <i class="ti-angle-down"></i>
    </a>
    <ul class="show-notification profile-notification">
        <li class="waves-effect waves-light">
            <a href="#!">
                <i class="ti-settings"></i> Ayarlar
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="user-profile.html">
                <i class="ti-user"></i> Profilim
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="email-inbox.html">          
                <i class="ti-email"></i> Mesajlarım
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="auth-lock-screen.html">
                <i class="ti-lock"></i> Ekranı Kilitle
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="auth-normal-sign-in.html">
                <i class="ti-layout-sidebar-left"></i> Çıkış Yap
            </a>
        </li>
    </ul>
</li>
