<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="~/Templates/material_able-main/assets/images/avatar-4.jpg" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">KidKinder Admin</span>
                </div>
            </div>
            
        </div>
        
        
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/Dashboard/Index/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Chart/Index/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-stats-up"></i><b>D</b></span>
                    <span class="pcoded-mtext">İstatistik</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminClassRooms/ClassRoomsList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-blackboard"></i><b>D</b></span>
                    <span class="pcoded-mtext">Sınıflar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Student/StudentList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-graduation-cap"></i><b>D</b></span>
                    <span class="pcoded-mtext">Öğrenciler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminParent/ParentList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                    <span class="pcoded-mtext">Veliler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Teacher/TeacherList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-ruler-pencil"></i><b>D</b></span>
                    <span class="pcoded-mtext">Öğretmenler</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminService/ServicesList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-rocket"></i><b>D</b></span>
                    <span class="pcoded-mtext">Hizmetlerimiz</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminContact/ContactList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-comments"></i><b>D</b></span>
                    <span class="pcoded-mtext">Gelen Mesajlar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminStaff/StaffList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-address-card"></i><b>D</b></span>
                    <span class="pcoded-mtext">Personel</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>

            <li class="">
                <a href="/AdminTestimonials/TestimonialsList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-check-square-o"></i><b>D</b></span>
                    <span class="pcoded-mtext">Referanslar</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/AdminGallery/GalleryList/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-camera"></i><b>D</b></span>
                    <span class="pcoded-mtext">Galeri</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class="">
                <a href="/Default/Index/" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-mail-reply-all"></i><b>D</b></span>
                    <span class="pcoded-mtext">Siteye Geri Dön</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        
    </div>
</nav>
