
@{
    ViewBag.Title = "ContactAddressPartial";
    Layout = null ;
}

﻿<div class="col-lg-5 mb-5">
    <p>
        @ViewBag.description
    </p>
    <div class="d-flex">
        <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
           style="width: 45px; height: 45px"></i>
        <div class="pl-3">
            <h5>Adres</h5>
            <p>@ViewBag.address</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
           style="width: 45px; height: 45px"></i>
        <div class="pl-3">
            <h5>Email</h5>
            <p>@ViewBag.email</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
           style="width: 45px; height: 45px"></i>
        <div class="pl-3">
            <h5>Telefon</h5>
            <p>@ViewBag.phone</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
           style="width: 45px; height: 45px"></i>
        <div class="pl-3">
            <h5>Mesai Saatlerimiz</h5>
            <strong>Pazartesi - Cuma:</strong>
            <p class="m-0">08:00 - 17:30</p>
        </div>
    </div>
</div>

