@model KidKinder.Entities.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Hizmetler Bilgileri</h5>
                <span>Hizmetler ile ilgili ekleme, silme, güncelle gibi işlemleri aşağıdan gerçekleştirebilirsiniz.</span>
            </div>
            <div class="card-block">
                <form method="post">
                    <input type="hidden" value="@Model.ServiceId" name="ServiceId" />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Hizmet Başlığı</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Hizmet Başlığı">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ikon</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" placeholder="Hizmet Ikonu">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Açıklama</label>
                        <div class="col-sm-10">
                            <textarea rows="5" cols="5" class="form-control" name="Desciription" placeholder="Hizmet Açıklaması">@Model.Desciription</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Hizmeti Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

